.container {
    max-width: 1115px;
    margin: 20px auto 40px;
}

.header {
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 1.3;
    margin: 60px auto 25px;
}

.gridcontainer {
    padding: 20px;
    background: #ffffff;
    box-shadow: 0 1.67548px 4.1887px rgba(0, 0, 0, 0.305862);
    border-radius: 6.70193px;
}

.grid {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    img {
        width: 150px;
    }
}

.sponsorText {
    font-style: normal;

    padding: 70px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    h3 {
        font-weight: 600;
        font-size: 18px;
    }

    div {
        max-width: 300px;
        text-align: center;
        font-size: 16px;
        margin-bottom: 30px;
    }
}

.becomeSponsor {
    padding: 20px;
    text-align: center;

    a {
        font-size: 16px;
        text-decoration: none;
        font-weight: 600;

        svg {
            margin-bottom: -2px;
        }
    }
}

@media only screen and (max-width: 768px) {
    .header {
        text-align: center;
        font-size: 24px;
    }
}
