.card {
	border-radius: 0.5rem;
	box-shadow: 0 0.0625rem 0.1875rem rgba(0, 0, 0, 0.3);
	background-color: white;
}

.card > :first-child {
	border-top-left-radius: inherit;
	border-top-right-radius: inherit;
}

.card > :last-child {
	border-bottom-left-radius: inherit;
	border-bottom-right-radius: inherit;
}
