    .rankFirst {
        filter: invert(98%) sepia(34%) saturate(4134%) hue-rotate(321deg) brightness(84%) contrast(98%);
    }

    .rankSecond {
        filter: invert(81%) sepia(11%) saturate(238%) hue-rotate(139deg) brightness(86%) contrast(87%);
    }

    .rankThird {
        filter: invert(63%) sepia(55%) saturate(1317%) hue-rotate(341deg) brightness(87%) contrast(81%);
    }

